* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
    background: #0041b4;
    color: white;
}

main {
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.main-column1 {
    width: 35%
}

.main-column2 {
    width: 50%
}


.header-links {
    display: flex;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

nav {
    display: flex;
    width: 100%;
    height: 2em;
    background: #5f8ad4;
    align-items: center;
}

ul {
    display: flex;
    width: 100%;
    justify-content: center;

}
nav ul li {
    display: inline;
    border-right: solid 1px black;
    padding-right: 0.5em;
    padding-left: 0.5em;
    align-content: center;
    align-items: baseline;
}

nav ul li:last-of-type {
    border-right: none;
}

a {
    text-decoration: none;
    padding: 0.5em;
    font-size: 1em;
    color: #0041b4;
}

a.header-link {
    color: white;
    font-size: 0.75em;
}

ul {
    list-style: none;
}

h1, h2 {
    font-size: 1rem;
}

h2 {
    margin: 1rem 0 0 0; 
    padding: 0.25rem;
    color: white;
    background: #5f8ad4;
}

h4 {
    display: inline-block;
    width: auto;
    margin: 0;
}

section.profile-info {
    display: flex;

}

.pro-info {
    padding: 0 1em 0 0;
    font-size: 0.85rem;
}

div.col2 {
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.profile-asl span {
    display: block;
}

section.contact-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 3px #5f8ad4;

    text-align: center;
    padding: 0.5rem;
}

section.myspace-id {
    border: solid 2px #5f8ad4;
    padding: 1rem;
    margin: 2rem 0;
}

.contact-column1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contact-column2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

div.extended-network {
    border: solid 2px black;
    text-align: center;
    padding: 1em;
    margin: 0 0 2rem 0;
}

section.blog-entry-box {
    display: flex;
    flex-direction: column;
    line-height: 2em;
}

section.myspace-id {
    display: flex;
    flex-direction: column;
}

/* This comment is a test, attempting to figure out merging my secondColumnBranch to main on github... not sure I'm doing it right -_-  */